body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1{
  /*text-align: center;*/
  font-size: 3rem;
  color: white;
}


.btn{
  font-weight: 700;
  border-radius: 100px;
  text-transform: uppercase;
}

.btn-primary{
  border-color: #FF4D00;
  background-color: #FF4D00;
}

.btn-primary:hover{
  background-color: #FF4D00;
  border-color: #FF4D00;
  opacity: 0.8;
  border-width: 4px;
}

.btn-xl{
  padding: 1rem 2rem;
}


.content{
  /*height: 45%;
  width: fit-content;
  position: relative;
  top: 30%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;*/

  transition: transform .5s ease;
}

.content:hover{
  transform: scale(1.1);
}

body { 
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}


.buffer{
  height: 10rem;
}